extends layout

block angularVariables
    - var angularApp = 'reg-auth'

block jsScripts
    script(src='/modules/eg.reg-auth.js')

block content
    div.content-static-page
        h2.page-header What's this?
        p!= 'This is "Agile Estimation 3.0" - the best online tool based on the <a href="http://www.amazon.com/Steve-Bockman/e/B00D0SNV1Y" target=_blank>Team Estimation Game by Steve Bockman</a>. '
            | Our product is designed for agile teams who estimate their effort for certain tasks.
        p
            | We call it 3.0 because we believe that this is the next level.
            | Therefore this product is considered to aim advanced agile people.
            | We are not covering basic agile and estimation topic here.
        p
            | For more information about estimation, please refer to the google.
        h2.page-header How it works?
        p If you hate watching videos (just like me) - you can just sign up (in the top of this page) and start experimenting immediately.
        p!= 'Otherwise, please, visit the <a href="/how-to">How to</a> page - it has explaining videos.'
        h2.page-header OK, so what?
        p
            | The idea of the "next generation estimation" is to increase performance and accuracy of estimation
            | and reduce time waste at the samte time.
            | See, the main cause of slowness in the planning poker technique is that players have to make turns blindly.
        p
            | With comparative approach, players don't estimate blindly and therefore the time is saved.
        p
            | It is hard to explain. You should try it. Really.
        h2.page-header Benefits for Business
        p
            ul
                li Estimation accuracy
                li Time efficiency
        h2.page-header Benefits for the Team
        p
            ul
                li It is fun
                li No more boring waiting time
                li It is made by developers for developers - we know what you need
        h2.page-header Core features
        div.row
            div.col-sm-6
                div.panel.panel-primary
                    div.panel-heading
                        h3.panel-title JIRA integration
                    div.panel-body
                        ul
                            li It is possible to import issues from a JIRA filter.
                            li Export results back to JIRA with setting estimation values into tickets.
                div.panel.panel-warning
                    div.panel-heading
                        h3.panel-title Coming soon: Customizable issues import
                    div.panel-body Import can be customized for less popular systems. In import configuration you have to specify mapping of your XML structure to the required fields.
                div.panel.panel-warning
                    div.panel-heading
                        h3.panel-title Coming soon: Customizable estimates scale
                    div.panel-body You can choose in which scale you'd like to estimate - either T-Shirt sizes or Fibonacci numbers.
            div.col-sm-6
                div.panel.panel-primary
                    div.panel-heading
                        h3.panel-title Real-time multiplayer
                    div.panel-body Estimate tasks in the real time with your colleagues.
                div.panel.panel-warning
                    div.panel-heading
                        h3.panel-title Coming soon: Activity log
                    div.panel-body All actions that were taken during the game are also duplicated as a text information.
                div.panel.panel-warning
                    div.panel-heading
                        h3.panel-title Coming soon: Export of results
                    div.panel-body Game results can be exported for offline sharing
                div.panel.panel-warning
                    div.panel-heading
                        h3.panel-title Coming soon: Secure data
                    div.panel-body We store your content ecnrypted. Only you have a key for deciphering.