doctype html
html(lang="en")
    block angularVariables
        - var angularApp = ''
    block variables
        - var pageTitle = pageTitle || 'Agile Estimation 3.0'
    head
        meta(charset='utf-8')
        meta(name='description', content='Agile estimation tool for distributed software development scrum teams')

        title #{pageTitle}
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/custom.css")
        block cssFiles

        script(src='/bower_components/jquery/jquery.min.js')
        script(src='/bower_components/jquery-ui/ui/minified/jquery-ui.min.js')
        script(src='/bower_components/ng-file-upload-shim/angular-file-upload-shim.min.js')
        script(src='/bower_components/angular/angular.min.js')
        script(src='/modules/eg.buttonLabel.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        block jsScripts

    body(ng-app="#{angularApp}")
        block layout
            div.container
                block content

                block gamePlay

        block bottomJsScripts